/* Font-weight-ის მნიშვნელობები */
.paragraph1 {
    font-weight: 100; /* ძალიან თხელი ტექსტი */
  }
  
  .paragraph2 {
    font-weight: 400; /* ჩვეულებრივი ტექსტი */
  }
  
  .paragraph3 {
    font-weight: 700; /* სქელი ტექსტი */
  }
  /* Font-weight-ის მნიშვნელობები */
.paragraph1 {
    font-weight: 100; /* ძალიან თხელი ტექსტი */
  }
  
  .paragraph2 {
    font-weight: 400; /* ჩვეულებრივი ტექსტი */
  }
  
  .paragraph3 {
    font-weight: 700; /* სქელი ტექსტი */
  }
  